/* ==========================================================================
  Components Input QTY
========================================================================== */

.qty {
  &__dec,
  &__inc {
    display: inline-block!important;
    vertical-align: middle;
    padding: 2px 4px;
    cursor: pointer;
    @include font-size(h5);
    color: color(grey, 1);
    border: 1px solid color(grey, 2);
    border-radius: 4px;
    @include remove-tap-highlight;
    transition: all .3s ease;
    @include small {
      @include font-size(h6);
    }
    @include retina {
      @include font-size(label);
    }
    &:hover {
      color: color(black, 1);
    }
  }
  &__number {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    padding: 4px 8px;
    margin: 0 4px;
    @include font-size(label);
    line-height: 1;
    outline: 0;
    text-align: center;
    border: 1px solid color(grey, 1);
    border: none;
    @include small {
      padding: 4px;
      margin: 0 2px;
      @include font-size(small);
    }
  }
}
