//-------------------------------------------------------------------------------
  @name: product-cart
  -------------------------------------------------------------------------------//

// product-cart
.product-cart
  .container
    .product-cart__content
      .product-cart__head
        h4.product-cart__title Keranjang Belanja
      .product-cart__list.js-result-item
        .product-cart__item
          .product-cart__wrapper
            .product-cart__store
              h6.product-cart__store__name Lorem ipsum dolor sit amet.
              p.product-cart__store__location Bandung
            .product-cart__image
              img.product-cart__image__el(src="assets/img/dummy/1.jpeg", alt="")/
            .product-cart__txt
              h6.product-cart__name Lorem ipsum dolor sit amet.
              .product-cart__desc
                span.product-cart__discount__percent 20%
                del.product-cart__discount__price Rp100.0000
                p.product-cart__price Rp80.0000
          .product-cart__info
            p.product-cart__info__txt
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptatibus vero qui dignissimos quidem quasi repellat ipsa numquam ut ipsum.
    .product-cart__result
      h4.product-cart__result__title Ringkasan Belanja
      table.product-cart__table
        tbody
          tr
            td Total harga (5 Barang)
            td(class="product-cart__table__price") Rp375.000
          tr
            td Total Diskon Barang
            td(class="product-cart__table__price") Rp25.000
        tfoot
          tr
            th Total Harga
            th(class="product-cart__table__price") Rp2400.000
      button.btn.btn--primary Beli



